body {
    overflow: hidden;
    background: #323a4b;
    height: 100vh;
}

.days,
.months,
.dates,
.hours,
.minutes,
.seconds {
    position: absolute;
    top: 50%;
    left: 50%;
}

.item {
    opacity: 0.5;
    position: absolute;
    top: -1rem;
    transform-origin: 0% 50%;
    text-align: right;
    line-height: 2rem;
    transition: all 0.5s linear;
}

.active {
    opacity: 1;
    top: -1.5rem;
    color: grey;
    font-size: 1.5rem;
}

.year {
    font-size: 3rem;
    margin: 2rem;
}

.day {
    width: 75px;
    z-index: 100;
}

.month {
    width: 75px;
    padding-left: 100px;
    z-index: 90;
}

.date {
    width: 75px;
    padding-left: 175px;
    z-index: 80;
}
.hour {
    width: 75px;
    padding-left: 275px;
    z-index: 70;
}
.minute {
    width: 75px;
    padding-left: 350px;
    z-index: 60;
}
.second {
    width: 75px;
    padding-left: 425px;
    z-index: 50;
}
